.person-icon.a,
.person-icon.b,
.person-icon.A,
.person-icon.B{
    text-transform: uppercase;
    background-color: #742525;
}

.person-icon.c,
.person-icon.d,
.person-icon.C,
.person-icon.D{
    text-transform: uppercase;
    background-color: #c18b18;
}

.person-icon.e,
.person-icon.f,
.person-icon.E,
.person-icon.F{
    text-transform: uppercase;
    background-color: #67c118;
}

.person-icon.g,
.person-icon.h,
.person-icon.G,
.person-icon.H{
    text-transform: uppercase;
    background-color: #18c159;
}

.person-icon.i,
.person-icon.j,
.person-icon.I,
.person-icon.J{
    text-transform: uppercase;
    background-color: #18bbc1;
}

.person-icon.k,
.person-icon.l,
.person-icon.K,
.person-icon.L{
    text-transform: uppercase;
    background-color: #186ac1;
}

.person-icon.m,
.person-icon.n,
.person-icon.M,
.person-icon.N{
    text-transform: uppercase;
    background-color: #3d41bb;
}

.person-icon.o,
.person-icon.p,
.person-icon.O,
.person-icon.P{
    text-transform: uppercase;
    background-color: #9718c1;
}

.person-icon.q,
.person-icon.r,
.person-icon.Q,
.person-icon.R{
    text-transform: uppercase;
    background-color: #c1189f;
}

.person-icon.s,
.person-icon.t,
.person-icon.S,
.person-icon.T{
    text-transform: uppercase;
    background-color: #cf3889;
}

.person-icon.u,
.person-icon.v,
.person-icon.U,
.person-icon.V{
    text-transform: uppercase;
    background-color: #18c1a2;
}

.person-icon.w,
.person-icon.x,
.person-icon.W,
.person-icon.X{
    text-transform: uppercase;
    background-color: #1867c1;
}

.person-icon.y,
.person-icon.z,
.person-icon.Y,
.person-icon.Z{
    text-transform: uppercase;
    background-color: #c16118;
}